/*Le nom et le sous titre sur la page principale*/

.frontname {
	padding-top: 5%;
	padding-bottom: 7%;
	text-align: center;
	font-size: 20px;
	font-family:"Nunito";
	-inkscape-font-specification:"Nunito";
}
.frontname h1 {
	font-size: 20px;
	color: black;
	line-height: 0px;
}
.frontname h2 {
	font-size: 20px;
	color: rgb(180,180,180);
	line-height: 15px;
}




.node {
  fill: white;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

#graphTop {
	overflow: visible;
}
#graphTop p{
	position: relative;
	bottom: 0;
	color:rgb(200,200,200);
	
}

#graphTop a {
	float:right;
	color:black;
}
#graphTop a:hover {
	color:blue;
	text-decoration: none;
}

/*Le texte de présentation*/
.presentationText {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 70px;
	font-family:"Nunito";

}

.presentationText p {
	font-size: 18px;	
}

.presentationText > p > a {
	color:steelblue;
}
.presentationText > p > a:hover {
	color:blue;
	text-decoration: none;
}
.presentationText h1 {
	font-size: 24px;
	font-weight: lighter;
	font-family: helvetica;
	text-align: center;
}


.buttons-about {
	width: 100%;
	padding-bottom: 70px;
}
.buttons-about a {
	font-size: 20px;
	border: solid 2px steelblue;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 20px;
	border-radius: 5px;
}

.buttons-about a:hover {
	text-decoration: none;
	color: blue;
	border-color:blue;
}



/*Section de contact*/
#contactSection {
	font-family:"Nunito";
	padding-bottom: 100px;
	font-size: 20px;
}
#contactSection h1 {
	font-size: 30px;

}
#contactSection a {
	color: steelblue;
}
#contactSection a:hover {
	color: blue;
	text-decoration: none;
}

