
.masthead-nav {
  
    text-align:justify;
    position:relative;
    padding-left:0px;
    padding-right:20px;
  

}
.masthead-nav > li {
    display:inline-block;
    width:60px;
    background-color: white;
}

.masthead-nav:after {
    display:inline-block;
    width:100%;
    content:'';
}
.masthead-nav > li > a {

  font-size: 20px;
  color: black;
  font-family: "American Typewriter";
  -inkscape-font-specification: "American Typewriter";
}

.masthead-nav > li:hover {
  background-color: white;

}
.masthead-nav  a:hover {
  text-decoration: none;
  color: rgb(200,200,200)

}

.active-nav a{
  color: rgb(200,200,200);

}

 @font-face {
    font-family: "American Typewriter";
    src: url("../police/americantype.ttf") 
  }