/*Container */
.container-content {
  width: 92%;
  max-width: 800px;

}

.topcontainer {
  height: 250px;
  background:url("../images/background/index.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
}

.topcontainerpaper {
  height: 250px;
  background:url("../images/background/index.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
}

.divtoptext {
  display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
}

.nametop {
  text-align: left;
  color: white;
  font-size: 30px;
  line-height: 30px;
}
.function-top {
  font-size: 18px;
  margin-right: 16px;
}
.icontop {
  font-size: 18px;
}

@media (max-width: 800px) {
  .topcontainer {
    height: 200px;
  }

  .nametop {
    text-align: left;
    color: white;
    font-size: 28px;
    line-height: 22px;
  }
  .function-top {
    font-size: 16px;
    margin-right: 28px;
  }
  .icontop {
    font-size: 16px;
  }


}
.froncontainer {
    width: 100%;
}

.masthead {
  max-width: 800px;
  padding-top: 20px;
}

.masthead-nav {
  
    text-align:justify;
    position:relative;
    padding-left:30px;
    padding-right:30px;
 

}

.svgDiv {
  /*display: block;*/
  /*margin: 0 auto;*/
  width: 100%;
  /*position: relative;*/
  /*right:-10%;*/
}


.masthead-nav > li {
    display:inline-block;
    width:60px;
    background-color: none;
}

.masthead-nav:after {
    display:inline-block;
    width:100%;
    content:'';
}
.masthead-nav > li > a {

  font-size: 20px;
  color: black;
  font-family: "Nunito";
  -inkscape-font-specification: "Nunito";
}

.masthead-nav > li > .active-nav {
 color: #006DFF;
}


.masthead-nav > li:hover {
  background-color: none;

}
.masthead-nav  a:hover {
  text-decoration: none;
  color: rgb(200,200,200)

}

.active-nav a{
  color: rgb(200,200,200);

}
 
.background-header {
  background-color: #DDDDDD;
}
