


.node {
  fill: white;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

#graphTop p{
	position: relative;
	bottom: 0;
	color:rgb(200,200,200);
	
}
#graphTop {
	overflow: visible;
}


/*News Post */
.newsContainer {
	width: 100%;
	max-width: 800px;
	background-color: white;
	border-left: solid 7px;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 20px;
	margin-bottom: 30px;
	box-shadow: 0px 0px 14px #AAAAAA;
}
.newScience {
	border-left-color: #3680B7;
}
.newDesign {
	border-left-color: #EA692E;
}

.headerNew {
	width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 20px;
	font-family:"American Typewriter";
	-inkscape-font-specification:"American Typewriter";
	/*background-color: #EEEEEE;*/
	/*margin-left: -16px;*/
	/*margin-right: -200px;*/
	padding-right: 16px;
	border-bottom: solid 1px #CCCCCC;

}
.headerNew h1 {
	/*display: inline;*/
	font-size: 30px;
	padding-top: 0px;
	margin-top: -4px;
	/*float:left;*/
	text-align: left;
	font-family: Helvetica;
	font-weight: lighter;
}
.headerNew h2 {
	/*display: inline;*/
	font-size: 16px;
	/*text-align: right;*/
	width: 100%;
	padding-top: 8px;
	margin-top: 0px;
	color: #AAAAAA;
	/*float: right;*/
	/*position: relative;*/
	/*top: 0;*/
}

.newsContainer p {
	font-size: 18px;
	font-family:"American Typewriter";
	-inkscape-font-specification:"American Typewriter";
}


.newsContainer a {
	color: steelblue;
}
.newsContainer a:hover {
	color: blue;
	text-decoration: none;

}

.gallery {
   
  /*text-align: justify;*/
}
.gallery figure{
	
	display: inline-block;

	padding-left:4px;
	padding-top: 10px;

}
.gallery img {
	max-height: 80px;
}

.gallery figcaption {
	 display: none;
}
/*.gallery:after {
    content: '';
    display: inline-block;
    width: 100%;
}*/

