---
layout: default
custom_js: 
  - d3.v4.min
  - d3_animated_graph
---

<div class="home">

<div class="site-header-container" id="d3graphparent">
  <div class="d3graph" id="d3graph"> 
  </div>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <div class="wrapper" >
         <h1 class="title">Welcome!</h1>
          <p class="subtitle">My name is Edward Laurence and I'm a PhD student in physics at Université Laval. I've just placed this text so you won't scroll down and you'll see the background animation.</p>
      </div>
    </header>
  </div>
</div>

<div class="wrapper">
<ul class="post-list">
  {% for post in paginator.posts %}
  <li class="post-liindex">
    <section class="post-meta">
      <div class="post-date">{{ post.date | date: "%B %-d, %Y" }}</div>
    </section>
    <h2>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    <section class="post-excerpt" itemprop="description">
      <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
    </section>
    <hr class="small-line">
  </li>
  
  {% if forloop.last == false %}
  {% endif %}
  {% endfor %}
</ul>

<nav class="pagination" role="navigation">
	<p>
    {% if paginator.previous_page %}
			{% if paginator.page == 2 %}
			<a class="newer-posts" href="{% if site.baseurl %}{{ site.baseurl }}{% endif %}/">
        <span class="fa-stack fa-lg">
          <i class="fa fa-chevron-circle-left fa-stack-1x fa-inverse pagination-icon"></i>
        </span>
      </a>
			{% else %}
			<a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.previous_page}}">
				<span class="fa-stack fa-lg">
					<i class="fa fa-chevron-circle-left fa-stack-1x fa-inverse pagination-icon"></i>
				</span>
			</a>
			{% endif %}
		{% else %}
		<span class="fa-stack fa-lg ">
      <i class="fa fa-chevron-circle-left fa-stack-1x fa-inverse pagination-icon inactive-icon"></i>
    </span>
		{% endif %}
		<span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
		{% if paginator.next_page %}
		<a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.next_page}}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-chevron-circle-right fa-stack-1x fa-inverse pagination-icon"></i>
      </span>
    </a>
		{% else %}
		<span class="fa-stack fa-lg">
      <i class="fa fa-chevron-circle-right fa-stack-1x fa-inverse pagination-icon inactive-icon"></i>
    </span>
		{% endif %}
	</p>
</nav>

</div>
</div>




