
html, body {
    font-family: 'Yantramanav', sans-serif;
}



.nav button:hover {
	background-color: none;
}

.nav li a {
	font-size: 16px;
	font-weight: 400;
	color: white;
}
.nav li a:hover {
	/*opacity: 0.5;*/
	background-color: lightgray;
}

.navbar-collapse a {
	background-color: none;
}
.white-navbar {
	background-color: white;
	box-shadow: 0px 0px 5px #DDDDDD;
	-webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.white-navbar li a {
	background-color: none;
	color: gray;
}
.white-navbar .navbar-collapse a {
	margin-top: 0px;
	background-color: white;
}
.icon-bar {
	background-color: white;
}
.white-navbar .icon-bar {
	background-color: gray;
}

.navbar {
	background-color: none;
	height: 30px;


}

.navbar-collapse {
	background-color: none;
	text-align: center;
}
.btn-collapse {
	background-color: none;
	border: none;	
}


.container-footer {
	padding-top: 100px;
	padding-bottom: 60px;
	background-color: rgb(20,20,20);
}

.container-footer h1 {
	color:white;
	font-weight: 500;
	font-size: 16px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	opacity: 1.0;
}
.container-footer hr {
	opacity: 0.2;
	margin-top: 8px;
}
.container-footer a {
	color: rgb(200,200,200);
	line-height: 30px;
	font-weight: 500;

}
.container-footer i {
	margin-right: 10px;
}
.container-footer a:hover {
	opacity: 0.7;
	text-decoration: none;
}


/*Subfooter*/
.container-subfooter {
	background-color: rgb(40,40,40);
	text-align: center;
	padding-top: 10px;
	color: rgb(120,120,120);
}

.navbar-toggle .icon-bar:nth-of-type(1) {
  	height: 3px;
}


.navbar-toggle .icon-bar:nth-of-type(2) {
	  top: 1px;
	  height: 3px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  	top: 2px;
  	height: 3px;
}

.navbar-toggle .icon-bar {
	  position: relative;
	  transition: all 300ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
	  top: 8px;
	  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
	  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
	  top: -6px;
	  transform: rotate(-45deg);
}